@page "/dashboard"
@using Data
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject eUpravaContext DbContext

@if (loggedUser != null)
{
        <div class="container">
            <div class="row justify-content-center" style="margin-bottom: 2em;">
                <div class="col-12 text-center">
                    <h2>Pozdravljen/a, @loggedUser.Name @loggedUser.Surname</h2>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-bottom: 2em;">
                <div class="col-md-4" style="margin-bottom: 2em;">
                    <div class="card text-center border-primary"
                        @onmouseover="() => IsHovered1 = true"
                        @onmouseout="() => IsHovered1 = false">
                        <div class="card-body">
                            <div class="circle-icon @(IsHovered1 ? "hovered" : "") bg-primary">
                                <i class="fa-solid @(IsHovered1 ? "fa fa-hand-pointer-o" : "fa-users") text-white icon"></i>
                            </div>
                            <h3 class="card-text" style="font-size: 48px !important">@DbContext.Users.Count()</h3>
                            <h5 class="card-title">Potrjene vloge</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 1em;">
                    <div class="card text-center border-primary"
                        @onmouseover="() => IsHovered2 = true"
                        @onmouseout="() => IsHovered2 = false">
                        <div class="card-body">
                            <div class="circle-icon @(IsHovered2 ? "hovered" : "") bg-primary">
                                <i class="fa-solid @(IsHovered2 ? "fa fa-hand-pointer-o" : "fa-list-ol") text-white icon"></i>
                            </div>
                            <h3 class="card-text" style="font-size: 48px !important">@DbContext.Vloge.Count()</h3>
                            <h5 class="card-title">Zavrnjene vloge</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            @if (!loggedUser.isAdmin)
            {
                <div class="col-6 text-center">
                    <a href="/oddaja-vloge" class="btn btn-primary btn-lg"><i class="fa-solid fa-file-contract"></i> Oddaj vlogo</a>
                </div>
                @if(DbContext.Vloge.Any(x => x.User == loggedUser)){
                <div class="col-6 text-center">
                    <a href="/oddane-vloge" class="btn btn-secondary btn-lg"><i class="fa-solid fa-table-list"></i> Oddane vloge</a>
                </div>
                }
            }
            else
            {
                <div class="col-6 text-center">
                    <a href="/pregled-vlog" class="btn btn-secondary btn-lg"><i class="fa-solid fa-table-list"></i> Pregled vlog</a>
                </div>
            }
        </div>
}

@code {
    public User? loggedUser { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        loggedUser = await sessionStorage.GetItemAsync<User>("LoggedUser");

        if (loggedUser == null)
        {
            NavigationManager.NavigateTo("/");
        }

        StateHasChanged();
    }

    // For KPI's animation
    private bool IsHovered1 { get; set; } = false;
    private bool IsHovered2 { get; set; } = false;
}
