@page "/oddaja-vloge"
@using eUprava.Data
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject eUpravaContext DbContext

<!-- Auto filled inputs-->
<div class="form-group">
    <label for="name">Name:</label>
    <input id="name" class="form-control" type="text" disabled value="@loggedUser?.Name" />

    <label for="surname">Surname:</label>
    <input id="surname" class="form-control" type="text" disabled value="@loggedUser?.Surname" />

    <label for="emso">EMSO:</label>
    <input id="emso" class="form-control" type="text" disabled value="@loggedUser?.EMSO" />

    <label for="city">City:</label>
    <input id="city" class="form-control" type="text" disabled value="@loggedUser?.City" />

    <label for="address">Address:</label>
    <input id="address" class="form-control" type="text" disabled value="@loggedUser?.Address" />

    <label for="email">Email:</label>
    <input id="email" class="form-control" type="text" disabled value="@loggedUser?.Email" />
</div>

<EditForm Model="@Vloga" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="nacinIzvajanja">Nacin Izvajanja:</label>
        <InputSelect id="nacinIzvajanja" class="form-control" @bind-Value="@Vloga.NacinIzvajanja">
            <option value="Na daljavo">Na daljavo</option>
            <option value="V živo">V živo</option>
        </InputSelect>
        <ValidationMessage For="@(() => Vloga.NacinIzvajanja)" />

        <label for="zdravniskoPotrdilo">Zdravnisko Potrdilo:</label>
        <InputFile id="zdravniskoPotrdilo" class="form-control" OnChange="e => HandleFileSelection(e, nameof(Vloga.ZdravniskoPotrdilo))" />
        <ValidationMessage For="@(() => Vloga.ZdravniskoPotrdilo)" />

        <label for="evidencniKarton">Evidencni Karton:</label>
        <InputFile id="evidencniKarton" class="form-control" OnChange="e => HandleFileSelection(e, nameof(Vloga.EvidencniKarton))" />
        <ValidationMessage For="@(() => Vloga.EvidencniKarton)" />

        <label for="karticaPrvePomoci">Kartica Prve Pomoci:</label>
        <InputFile id="karticaPrvePomoci" class="form-control" OnChange="e => HandleFileSelection(e, nameof(Vloga.KarticaPrvePomoci))" />
        <ValidationMessage For="@(() => Vloga.KarticaPrvePomoci)" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    private User? loggedUser;
    Vloga Vloga = new Vloga();

    private async Task HandleFileSelection(InputFileChangeEventArgs e, string propertyName)
    {
        var file = e.File;
        if (file != null)
        {
            // var filePath = full path of the file
            
            // Update the corresponding property with the file path
            typeof(Vloga).GetProperty(propertyName)?.SetValue(Vloga, file.Name);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        loggedUser = await sessionStorage.GetItemAsync<User>("LoggedUser");

        if (loggedUser == null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Find the user in the database to ensure a fresh instance
            loggedUser = await DbContext.Users.FindAsync(loggedUser.Id);
        }

        StateHasChanged();
    }



    private async Task HandleSubmit()
    {
        Vloga.User = loggedUser;

        DbContext.Vloge.Add(Vloga);
        await DbContext.SaveChangesAsync();

        NavigationManager.NavigateTo("/vloge");
    }
}
