@page "/pregled-vlog"
@using eUprava.Data
@using CurrieTechnologies.Razor.SweetAlert2
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject eUpravaContext DbContext
@inject SweetAlertService Swal

@if(loggedUser != null){
  @if(loggedUser.isAdmin == true)
  {

    <h1 style="text-align: center; margin-bottom: 1em;">Vloge strank</h1>
    <div class="row" style="margin-bottom: 2em;">
        <div class="col-md-4" style="margin-bottom: 2em;">
            <div class="card text-center border-primary"
            @onmouseover="() => IsHovered1 = true"
            @onmouseout="() => IsHovered1 = false">
                <div class="card-body">
                    <div class="circle-icon @(IsHovered1 ? "hovered" : "") bg-primary">
                        <i class="fa-solid @(IsHovered1 ? "fa fa-hand-pointer-o" : "fa-file-upload") text-white icon"></i>
                    </div>
                    <h5 class="card-title">Oddane vloge</h5>
                    <h3 class="card-text">@DbContext.Vloge.Count(v => v.StatusVloge == Status.Oddana)</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-bottom: 2em;">
            <div class="card text-center border-success"
            @onmouseover="() => IsHovered2 = true"
            @onmouseout="() => IsHovered2 = false">
                <div class="card-body">
                    <div class="circle-icon @(IsHovered2 ? "hovered" : "") bg-success">
                        <i class="fa-solid @(IsHovered2 ? "fa fa-hand-pointer-o" : "fa-check") text-white icon"></i>
                    </div>
                    <h5 class="card-title">Potrjene vloge</h5>
                    <h3 class="card-text">@DbContext.Vloge.Count(v => v.StatusVloge == Status.Potrjena)</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-bottom: 1em;">
            <div class="card text-center border-danger"
            @onmouseover="() => IsHovered3 = true"
            @onmouseout="() => IsHovered3 = false">
                <div class="card-body">
                    <div class="circle-icon @(IsHovered3 ? "hovered" : "") bg-danger">
                        <i class="fa-solid @(IsHovered3 ? "fa fa-hand-pointer-o" : "fa-file-upload") text-white icon"></i>
                    </div>
                    <h5 class="card-title">Zavrnjene vloge</h5>
                    <h3 class="card-text">@DbContext.Vloge.Count(v => v.StatusVloge == Status.Zavrnjena)</h3>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ime</th>
            <th scope="col">Priimek</th>
            <th scope="col">Email</th>
            <th scope="col">Način</th>
            <th scope="col">Termin</th>
            <th scope="col">Status</th>
            <th scope="col">Komentar</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var group in DbContext.Vloge.GroupBy(vloga => vloga.User.Id))
    {
        var userId = group.Key;
        var user = DbContext.Users.FirstOrDefault(u => u.Id == userId);

        if (user != null)
        {

            foreach (var vloga in group)
            {
                <tr>
                    <td>@vloga.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    <td>@vloga.NacinIzvajanja</td>
                    <td>@vloga.Termin</td>
                    <td>
                        @if (vloga.StatusVloge == Data.Status.Oddana)
                        {
                            <i class="fa-solid fa-spinner text-warning"></i>
                        }
                        else if (vloga.StatusVloge == Data.Status.Potrjena)
                        {
                            <i class="fa-solid fa-badge-check text-success"></i>
                        }
                        else if (vloga.StatusVloge == Data.Status.Zavrnjena)
                        {
                            <i class="fa-solid fa-circle-xmark text-danger"></i>
                        }
                    </td>
                    <td>@if(vloga.Komentar != null){
                      @vloga.Komentar}
                    </td>
                    <td>
                      <button class="btn" @onclick="() => EditVloga(vloga.Id)"><i class="fa-solid fa-eye text-success"></i></button>
                      <button class="btn" @onclick="() => DeleteVloga(vloga.Id)"><i class="fa-solid fa-trash text-danger"></i></button>
                   </td>
                </tr>
            }
        }
    }

  </tbody>
</table>

  }

  else{
    NavigationManager.NavigateTo("/dashboard");
  }

}

@code {
    public User? loggedUser { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        loggedUser = await sessionStorage.GetItemAsync<User>("LoggedUser");

        if (loggedUser == null)
        {
            NavigationManager.NavigateTo("/");
        }

        StateHasChanged();
    }

    private void EditVloga(int vlogaId)
    {
        NavigationManager.NavigateTo($"/urejanje-vloge/{vlogaId}"); 
    }

    private async Task DeleteVloga(int vlogaId)
    {
        var vloga = DbContext.Vloge.FirstOrDefault(v => v.Id == vlogaId);

        if (vloga != null)
        {
            // Show SweetAlert confirmation message
            var result = await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Izbris Vloge",
                    Text = "Ali ste prepričani da želite izbrisati to vlogo?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Izbriši",
                    ConfirmButtonColor = "#dc3545",
                    CancelButtonText = "Prekliči",
                    ReverseButtons = true
                });

            if (result.IsConfirmed)
            {
                DbContext.Vloge.Remove(vloga);
                await DbContext.SaveChangesAsync();
                NavigationManager.NavigateTo("/oddane-vloge");
            }
        }
    }

    // For KPI's animation
    private bool IsHovered1 { get; set; } = false;
    private bool IsHovered2 { get; set; } = false;
    private bool IsHovered3 { get; set; } = false;
}


<style>
    .circle-icon {
        position: relative;
        transition: transform 0.5s ease-in-out;
    }

    .circle-icon .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card:hover .circle-icon {
        transform: scaleX(-1) rotate(360deg);
    }

    .card {
        transition: box-shadow 0.3s ease-in-out;
    }

    .card:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        border: 3px solid white;
    }

    .circle-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: transparent;
        position: relative;
        margin: 0 auto;
        top: -50px;
        border: 4px solid #ECF0F3;
    }

    .card {
        border: 3px solid #000000;
        border-radius: 10px;
        background-color: transparent;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 24px;
        font-weight: bold;
    }
</style>